p{
    font-size: 35px;

}
#quote,
#author{
    font-size: 30px;
}


h1{
    font-size: 80px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: black;


}
.home button{
    width: 250px;
    height: 80px;
    background-color: blue;
    color: white;
}
button:hover {
    background-color: green;
}



